#page-container{
    position:relative;
    min-height: 95vh;
}

body{
    background-image: url(images/bigbackground.jpg);
}
/* Rubriken får rätt färg, storlek och en linje under för designens skull*/
h1{
    text-align: center;
    color: white;
    font-size:4vw;
    padding-top:2%;
    padding-left:35%;
    margin-left:none;
    margin-right:15%;
    position:absolute;
    border-bottom: dotted;
    z-index:-1;
    font-family: 'Shanti', sans-serif;
    text-shadow: 1px 1px 1px rgb(63, 63, 63);
}

/* De mindre rubrikerna får rätt färg och placering för att inte smälta in deras tillhörande lista*/
h3{
    color:white;
    text-align: center;
}
/* De tre ikonerna placeras uppe i det högra hörnet */
#links{
    list-style-type: none;
    overflow: hidden;
    margin-left:60%;
    padding-right:10px;
}

#linkIcon{
    float:right;
    padding-right:3vw;
    max-width: 100%;
    font-size: 4vw;
}
/*Ikonerna får en standardfärg och en färg när man hovrar över dem */
a:link, a:visited, a:active{
    color:white;
    text-decoration: none;
}

a:hover{
    color:black;
    text-decoration: none;
}
/* Bilden får en ram och en storlek som anpassas efter användarens skärmstorlek*/
#photo{
    max-width: 25%;
    padding:0;
    position:absolute;
    margin-left:5%;
    border-style:solid;
    border-color:white;
    border-width:normal;
    box-shadow: 2px 2px 2px rgb(46, 46, 46);
}
/* Stycket med presentaionen får rätt font och placeras så att det blir snyggt ihop med bild och rubrik*/
#presentation{
    color:white;
    text-align:center;
    width: 80%;
    position:relative;
    margin-left:35%;
    margin-right:15%;
    margin-top:10%;
    margin-bottom:11%;
    font-family: 'Philosopher', sans-serif;
    font-size: 2vw;
    text-shadow: 1px 1px 1px rgb(63, 63, 63); 
}
/* De två rutorna med övrig text ska "wrappas" om fönstret förminskas */
.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
/* Texten placeras snyggt i en ruta och får rätt typsnitt och färg*/
#erfarenhet{
    list-style-type: none;
    padding-top:0em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom:1em;
    color:white;
    float:left;
    width: 500px;
    border-style: dotted;
    size:relative;
    margin-left:15px;
    margin-right:15px;
    font-family: 'Shanti', sans-serif;
    font-size: 2vw;
}
/* Punkterna på listan får lite större mellanrum för bättre läsbarhet*/
#erfarenhet li{
    padding:10px;
}
/* Texten placeras snyggt i en ruta och får rätt typsnitt och färg*/
#utbildning{
    list-style-type: none;
    padding-top:0em;
    padding-left:1em;
    padding-right:1em;
    padding-bottom:1em;
    color:white;
    float:left;
    width: 500px;
    border-style: dotted;
    size:relative;
    margin-right:15px;
    margin-left:15px;
    font-family: 'Shanti', sans-serif;
    font-size:2vw;
}
/* Punkterna på listan får lite större mellanrum för bättre läsbarhet*/
#utbildning li{
    padding:10px;
}
/* Här beskrivs vad som ska hända med vissa element om skärmen blir smalare än 450px */
@media all and (max-device-width:450px){
    #erfarenhet, #utbildning {
        font-size:12px;
    }
    #presentation {
        font-size:3vw;
        margin-top: 7%;
    }
    #footer{
        font-size:11px;
    }
}
/* Längst ner på sidan finns information om copyright*/
#footer{
    position:absolute;
    width: 100%;
    height: 1.5em;
    text-align: center;
    margin-bottom:0;
    color:white;
    font-style:serif;
    font-size:14px;
}


